<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="logDir" value="${basedir}/log/${date:format=yyyy-MM-dd}" />
	<variable name="detailedLayout" value="${time} (${level:uppercase=true}) (${logger}) : ${message} ${exception:format=tostring}" />
	<targets>
		<target name="file" xsi:type="File" fileName="${logDir}.log" layout="${detailedLayout}" deleteOldFileOnStartup="false" />
		<target name="ccon" xsi:type="ColoredConsole" layout="${detailedLayout}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file, ccon" />
	</rules>
</nlog>